.social a{
  font-size: 4.5em;
  padding: 3rem;
}

.fa-facebook-f{
  color: #3b5998;
}

.fa-twitter{
  color: #00aced;
}

.fa-github{
  color: #333;
}

.fa-linkedin-in{
  color: #0077b5;
}

.fa-envelope{
  color: #d34836;
}

.fa-facebook-f:hover, .fa-twitter:hover, .fa-github:hover, .fa-linkedin-in:hover, .fa-envelope:hover{
  color: #d5d5d5;
}

footer {
  background-color: #ffffff;
  color: #3f3f3f;
  padding-top: 2rem;
}

footer a{
  color: #d5d5d5;
}

hr.light-100{
  border-top: 1px solid #d5d5d5;
  width: 100%;
  margin-top: .8rem;
  margin-bottom: 1rem;
}