ul#navbar{
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #ccebff;
border-bottom: 1px solid #555;
}

li {
float: left;
}

li a {
display: block;
color: black;
text-align: center;
padding: 14px 12px;
text-decoration: none;
font-size: 18px;
}

li a:hover {
background-color: #b3e0ff;
}